---
import { Image } from 'astro:assets'
import logo from '../images/logo.png?url'
import { getNavLink } from '../lib/blog-helpers.ts'
import { Icons } from './icons'
---

<div class="mb-8">
  <div
    class="max-w-5xl w-full px-4 py-4 sm:px-6 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      href={getNavLink('/')}
      class="flex font-medium items-center md:justify-start justify-center"
      aria-label="logo legend diskusi pajak"
    >
      <Image
        class="inline-block h-[2.1rem] w-[2.1rem] rounded-full outline outline-gray-5 shadow hover:outline-red-400"
        src={logo}
        width={90}
        height={90}
        alt="logo diskusi pajak"
      />
      <span class="ml-3 text-lg font-heading font-semibold tracking-tighter"
        >Diskusi Pajak</span
      >
    </a>
    <Icons.minusVertical className="hidden sm:block"/>
    <div class="text-sm sm:mt-0 mt-4 flex font-semibold font-heading">
      <a
        href={getNavLink('/posts/tag/How-to')}
        class="ml-6: decoration-2 hover:text-red-400"
        rel="noopener noreferrer"
        aria-label="link ke blog post how-to">How-to</a
      >
    </div>
    <span class="flex sm:ml-auto sm:mt-0 mt-4 justify-center item-center">
      <a
        href="https://www.facebook.com/diskusipajak"
        class="hover:text-red-400"
        target="_blank"
        aria-label="link ke facebook group"
        ><Icons.facebook className="w-5 h-5" />
      </a>

      <a
        href="https://t.me/addlist/HXeQGfBQr9ZjNzA1"
        class="ml-3 hover:text-red-400"
        target="_blank"
        aria-label="link ke folder telegram diskusi pajak"
        ><Icons.telegram className="w-5 h-5" />
      </a>
    </span>
  </div>
</div>
